In [1]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vinitkanani/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/vinitkanani/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/vinitkanani/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/vinitkanani/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC, SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score

In [3]:
df = pd.read_csv('/content/training1600000.csv',encoding = "ISO-8859-1",header=None)

In [4]:

df.columns = ["polarity",'id','date','query','user','tweet']
df

,polarity,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

## Text Cleaning

In [5]:
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r'http\S+',' ',text)
    text = re.sub('[^a-zA-Z]',' ',text)
    text = word_tokenize(text)
    text = [item for item in text if item not in stop_words]
    text = [lemma.lemmatize(w) for w in text]
    text = [i for i in text if len(i)>2]
    text = ' '.join(text)
    return text

In [6]:
stop_words = set(stopwords.words('english'))
lemma = WordNetLemmatizer()

In [7]:
# df_new = df[0:100000]
df_new = df.sample(n=100000)

In [8]:
df_new['polarity'].value_counts()

4    50074
0    49926
Name: polarity, dtype: int64

In [9]:
df_new['clean_tweet'] = df_new['tweet'].apply(clean_text)

In [10]:
x_train = df_new['clean_tweet']

In [11]:
tfidf_vectorizer = TfidfVectorizer(min_df=10)

x_train_tfidf = pd.DataFrame(tfidf_vectorizer.fit_transform(x_train).toarray(), columns=tfidf_vectorizer.get_feature_names_out())

display(x_train_tfidf.shape)
display(x_train_tfidf.head())

(100000, 5758)

,aaah,aah,aaron,abandoned,abby,abc,ability,abit,able,aboard,...,zach,zack,zealand,zero,zoe,zombie,zone,zoo,zzz,zzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
model = LinearSVC()

In [13]:
y_train = df_new.polarity

In [14]:
# y_train

In [15]:
df_test = pd.read_csv('/content/testdata.manual.2009.06.14.csv',header=None)

In [16]:
df_test.columns = ["polarity",'id','date','query','user','tweet']
df_test

,polarity,id,date,query,user,tweet
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
...,...,...,...,...,...,...
493,2,14072,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...
494,0,14073,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
495,4,14074,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,14075,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,14076,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

In [17]:
df_test['clean_tweet'] = df_test['tweet'].apply(clean_text)

In [18]:
x_test = df_test['clean_tweet']
x_test_tfidf = pd.DataFrame(tfidf_vectorizer.transform(x_test).toarray(), columns=tfidf_vectorizer.get_feature_names_out())

In [19]:
y_test = df_test['polarity']

In [20]:
import time
start_time = time.time()

model.fit(x_train_tfidf, y_train)
results = {
    'time_to_train': [],
    'time_to_test': [],
    'accuracy': [],
    'f1': []
}
# training end
end_time = time.time()
time_to_train = end_time - start_time
print('training completed:', '{:.2f}'.format(time_to_train), 'seconds')

# testing start
print('testing...')
start_time = time.time()

# make predictions on validation set
y_pred = model.predict(x_test_tfidf)

# testing end
end_time = time.time()
time_to_test = end_time - start_time
print('testing completed:', '{:.2f}'.format(time_to_test), 'seconds\n')

# add results to result map
results['time_to_train'].append(time_to_train)
results['time_to_test'].append(time_to_test)
results['accuracy'].append(accuracy_score(y_test, y_pred))
results['f1'].append(f1_score(y_test, y_pred, average=None))

training completed: 4.17 seconds
testing...
testing completed: 0.04 seconds

In [21]:
results

{'time_to_train': [4.166936874389648],
 'time_to_test': [0.0441441535949707],
 'accuracy': [0.5763052208835341],
 'f1': [array([0.73015873, 0.        , 0.62212944])]}

In [23]:
from sklearn.linear_model import SGDClassifier

In [24]:
model2 = SGDClassifier(max_iter=10000, tol=1e-3)

In [25]:
import time
start_time = time.time()

model2.fit(x_train_tfidf, y_train)
results_SGD = {
    'time_to_train': [],
    'time_to_test': [],
    'accuracy': [],
    'f1': []
}
# training end
end_time = time.time()
time_to_train = end_time - start_time
print('training completed:', '{:.2f}'.format(time_to_train), 'seconds')

# testing start
print('testing...')
start_time = time.time()

# make predictions on validation set
y_pred = model.predict(x_test_tfidf)

# testing end
end_time = time.time()
time_to_test = end_time - start_time
print('testing completed:', '{:.2f}'.format(time_to_test), 'seconds\n')

# add results to result map
results_SGD['time_to_train'].append(time_to_train)
results_SGD['time_to_test'].append(time_to_test)
results_SGD['accuracy'].append(accuracy_score(y_test, y_pred))
results_SGD['f1'].append(f1_score(y_test, y_pred, average=None))

training completed: 23.48 seconds
testing...
testing completed: 0.05 seconds

In [26]:
results_SGD

{'time_to_train': [23.48496103286743],
 'time_to_test': [0.04536604881286621],
 'accuracy': [0.5763052208835341],
 'f1': [array([0.73015873, 0.        , 0.62212944])]}